.show-mid {
    text-align: center;
}

.show-left {

    text-align: left;
}

.show-right {
    text-align: right;
}

.auth-header {
    border-radius: 50%;
}

.auth-div {
    font-size: 30px;
}

.contributes {
    font-size: 30px;
}

p {
    text-indent: 2em;
}
